// header
header {
	background-color: $blackColor;
	.nav-bar {
		height: $navBarHeight;
		@include flex-init;
		ul {
			@include flex-init;
			justify-content: space-between;
			.logo {
				a {
					display: inline-block;
					img {
						width: 35px;
						height: 35px;
					}
				}
			}
		}
	}
}
