// media-queries
// max-width: 992px
@media screen and (max-width: 992px) {
	main {
		.albums {
			.album {
				width: calc((100% / 5) - 20px);
			}
		}
	}
}

// max-width: 768px
@media screen and (max-width: 768px) {
	main {
		.albums {
			.album {
				width: calc((100% / 4) - 20px);
			}
		}
	}
}

// max-width: 576px
@media screen and (max-width: 576px) {
	main {
		.albums {
			.album {
				width: calc((100% / 3) - 20px);
			}
		}
	}
}

// max-width: 420px
@media screen and (max-width: 420px) {
	main {
		.albums {
			.album {
				width: calc((100% / 2) - 20px);
			}
		}
	}
}
