// mixin
@mixin flex-init {
	display: flex;
	align-items: center;
}

@mixin position-fixed-init($top, $left) {
	position: fixed;
	top: $top;
	left: $left;
}

@mixin position-absolute-init($top, $left) {
	position: absolute;
	top: $top;
	left: $left;
}
